:root {
    --bg-gradient: linear-gradient(135deg, #e3ca8f 0%, #ad8657 100%);

    /* Tons principais */
    --cafe-escuro: #3e2723;
    --cafe-medio: #6f4e37;
    --creme-claro: #fff9f0;

    /* Cores de contraste */
    --destaque-ouro: #ffcc33;
    --branco-puro: #ffffff;
    --texto-corpo: #140e0c;
    --bg-card: rgba(62, 39, 35, 0.1);
}

html {
    scroll-behavior: smooth;
}
section{
    scroll-margin-top: 120px;
}

body {
    background-image: url(wallpaper.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    color: var(--cafe-escuro);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*Header*/
header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--cafe-escuro);
    opacity: 99.7%;
    width: 100%;
    height: 60px;
    padding: 20px 0; 
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

header h1 {
    display: inline-block;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: var(--creme-claro);
    margin: 0 0 -5px 0;
    font-size: 2.5rem;
    padding-bottom: 12px;
}

header h2.nome {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: var(--destaque-ouro);
    font-size: 1.2rem;
    margin: 0;
}

.modal-carrinho{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-40%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-carrinho svg {
    width: 26px;
    height: 26px;
    color: #fff;
}
.modal-carrinho svg:hover{
    color: var(--destaque-ouro);
}
/*Textos*/
h2 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    color: var(--cafe-escuro);
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 17px;
    line-height: 1.6;
    color: var(--texto-corpo);
}

a {
    color: var(--creme-claro);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
}

a:hover {
    color: var(--destaque-ouro);
}

/*Div's*/
.descricao-cafeteria, .cardapio, .contato {
    background-color: rgba(255, 249, 240, 0.952);
    max-width: 800px;
    padding: 30px;
    border: 2px solid var(--cafe-medio);
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    
}

.descricao-cafeteria img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 50%;
    border: 5px solid var(--creme-claro);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/*Table*/

table {
    width: 100%;
    border: solid var(--cafe-escuro) 2px;
    border-collapse: collapse;
}

table th {
    background-color: var(--cafe-medio);
    color: var(--creme-claro);
    padding: 3px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid var(--cafe-medio);
}

table tr {
    background-color: var(--creme-claro);
}

/*List*/
ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin: 10px 0;
}

/*FormS*/
form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 5px auto;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form select, form textarea {
    padding: 8px;
    border: 1px solid var(--cafe-medio);
    border-radius: 5px;
    margin-bottom: 10px;
}

form textarea{
    resize: none;

    width: 97.6%;
    height: 120px;
}

form option {
    background-color: var(--creme-claro);
    color: var(--cafe-escuro);
}

/*Buttons*/
button{
    padding: 10px;
    background-color: var(--cafe-medio);
    color: var(--creme-claro);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cafe-escuro);
}

.adicionar-carrinho{
    display: flex;
    margin: auto;
}

/*Footer*/

footer{
    background-color: var(--cafe-escuro);
    text-align: center;
    padding: 5px 0;
    margin-top: 30px;
}

footer p, footer a{
    margin: 2px 0;
    color: var(--creme-claro);
}

/*Modais*/

#fade, #modal{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--creme-claro);
    border: solid var(--cafe-escuro);
    border-radius: 1.2rem;
    z-index: 10;
    padding: 1.2rem;
    width: 500px;
    max-width: 90%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-body p {
    margin-bottom: 1rem;
}

#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

/*Responsividade*/
@media (max-width: 900px) {
    .descricao-cafeteria, .cardapio, .contato {
        max-width: 95%;
        padding: 15px;
        margin: 10px;
    }
    header h1 {
        font-size: 1.8rem;
    }
    .cardapio{
        overflow-x: auto;
    }
}